@import "~vue-material/dist/theme/variables";

$md-color-levels: map-merge($md-color-levels, (
  dark: (
    background: #424242,
    background-variant: #303030,
    text-primary: #fff,
    text-accent: rgba(#fff, .7),
    text-hint: rgba(#fff, .5),
    disabled: rgba(#fff, .3),
    disabled-background: rgba(#fff, .12),
    highlight: rgba(#fff, .12),
    icon: #fff,
    icon-disabled: rgba(#fff, .5),
    divider: rgba(#fff, .12),
    scrollbar: #9E9E9E,
    scrollbar-background: #212121,
    tooltip: #fff
  )
))