
#offers-page {
    .offers-list {
        margin: 4rem 0;
        padding: 0;

        .row {
            margin-top: 1rem;

            .col-md-3 {
                padding: .625rem;
            }
        }
    }
}
