
.offers-list {
    padding: 0;

    .row {
        margin-top: 1rem;

        a.offer-link {
            height: 100%;
            text-decoration: none;
            color: inherit;
        }
    }
}
