.header {
  background: var(--color-primary);

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__cart {
    border: none;
    cursor: pointer;
    background: transparent;
    font-size: 2rem;
    color: #fff;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 1rem;
      color: #fff;
      font-weight: bold;
    }
  }
}
